html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/OpenSans/opensans-bold.woff2") format("woff2"), url("../fonts/OpenSans/opensans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/OpenSans/opensans-light.woff2") format("woff2"), url("../fonts/OpenSans/opensans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans/opensans-regular.woff2") format("woff2"), url("../fonts/OpenSans/opensans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans/opensans-semibold.woff2") format("woff2"), url("../fonts/OpenSans/opensans-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'oswaldbold';
  src: url("../fonts/oswald/oswald-bold.woff2") format("woff2"), url("../fonts/oswald/oswald-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ico-custom';
  src: url("../fonts/ico-custom/ico-custom.ttf?xlmcrs") format("truetype"), url("../fonts/ico-custom/ico-custom.woff?xlmcrs") format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f6f6f6;
  color: #2c303d; }
  body a,
  body label,
  body input {
    outline: none; }

.img-responsive, .title img, .other-products a img {
  width: 100%;
  height: auto;
  display: block; }

.transition-custom, .rating .rating-list .rating-item i, .social-icons .social-icon-list .social-icon-link, .social-icons .social-icon-list .social-icon-link i, .product-size label,
.product-color label, .add-to-cart a, .other-products li, .other-products .slider-nav a {
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico-custom' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "\e900"; }

.icon-left-arrow:before {
  content: "\e901"; }

.icon-people:before {
  content: "\e902"; }

.icon-right-arrow:before {
  content: "\e903"; }

.icon-star:before {
  content: "\e904"; }

.icon-twitter:before {
  content: "\e905"; }

.icon-youtube:before {
  content: "\e906"; }

main {
  margin: 50px auto 150px; }

.container {
  width: 100%;
  min-width: 320px;
  max-width: 950px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content-wrapper {
  width: 100%;
  max-width: 402px;
  margin: 0 auto; }

.title h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-family: oswaldbold;
  padding: 0 106px 31px 38px;
  letter-spacing: 0.6px;
  line-height: 33px;
  height: 68px; }

.title img {
  max-width: 402px; }

.product-description {
  padding: 0 0 0 36px; }
  .product-description h1 {
    display: none; }
  .product-description .product-id {
    font-size: 12px;
    font-family: open_sansregular;
    color: #2c303d;
    padding: 11px 229px 12px 0;
    letter-spacing: 0.5px;
    opacity: 0.7; }
  .product-description .price-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: open_sansbold;
    padding: 0 119px 0 0;
    max-width: 245px; }
    .product-description .price-wrapper p {
      font-size: 36px;
      width: 112px; }
    .product-description .price-wrapper .old-price {
      color: #2c303d; }
      .product-description .price-wrapper .old-price span {
        text-decoration: line-through; }
    .product-description .price-wrapper .actual-price {
      color: #ce2c52; }

.rating {
  margin: 11px 0 0 0; }
  .rating ul > li.star.hover i.icon-star {
    color: #ce4c3e; }
  .rating ul > li.star.selected i.icon-star {
    color: #ce2c52; }
  .rating .share,
  .rating .social-desktop {
    display: none; }
  .rating .rating-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .rating .rating-list .rating-item {
      width: 19px;
      height: 18px; }
      .rating .rating-list .rating-item i {
        font-size: 18px;
        color: #ababab; }
        .rating .rating-list .rating-item i:hover {
          color: #ce2c52; }

.social-icons {
  margin: 31px 0 28px 0; }
  .social-icons .social-icon-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .social-icons .social-icon-list .social-item {
      margin-right: 15px; }
      .social-icons .social-icon-list .social-item:last-child {
        margin-right: 0; }
    .social-icons .social-icon-list .social-icon-link {
      width: 41px;
      height: 41px;
      display: block;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid #2c87ce;
      text-decoration: none;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      text-align: center; }
      .social-icons .social-icon-list .social-icon-link:hover {
        border: 2px solid #ababab; }
        .social-icons .social-icon-list .social-icon-link:hover i {
          color: #ababab; }
      .social-icons .social-icon-list .social-icon-link i {
        font-size: 26px;
        color: #2c87ce;
        line-height: 35px; }
      .social-icons .social-icon-list .social-icon-link .icon-facebook {
        font-size: 19px; }
      .social-icons .social-icon-list .social-icon-link .icon-twitter {
        font-size: 17px; }
      .social-icons .social-icon-list .social-icon-link .icon-people {
        font-size: 25px; }
      .social-icons .social-icon-list .social-icon-link .icon-youtube {
        font-size: 22px; }

.description {
  font-size: 14px;
  font-family: open_sansregular;
  line-height: 20px;
  letter-spacing: 0.35px;
  color: #282828;
  max-width: 321px; }
  .description p {
    display: none; }

.product-size .colors-select-container,
.product-size .size-select-container,
.product-color .colors-select-container,
.product-color .size-select-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.product-size p,
.product-color p {
  font-size: 16px;
  font-family: open_sansbold;
  letter-spacing: 0.8px;
  color: #2c303d;
  text-transform: uppercase; }

.product-size input,
.product-color input {
  display: none; }
  .product-size input:checked + label,
  .product-color input:checked + label {
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5); }

.product-size label,
.product-color label {
  cursor: pointer; }
  .product-size label:hover,
  .product-color label:hover {
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5); }
  .product-size label:last-child,
  .product-color label:last-child {
    margin-right: 0; }

.product-size {
  margin: 26px 0 28px 2px; }
  .product-size .size-select-container {
    margin: 12px 0 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .product-size .size-select-container label {
      width: 38px;
      height: 38px;
      border: 1px solid #cccccc;
      text-align: center;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      font-family: open_sansbold;
      font-size: 13px;
      line-height: 35px;
      margin-right: 13px; }

.product-color {
  margin: 0 0 42px 2px; }
  .product-color .colors-select-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 13px 0 0 0; }
    .product-color .colors-select-container label {
      width: 43px;
      height: 43px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin: 0 7px 0 0; }
      .product-color .colors-select-container label:nth-child(2) {
        background-color: #77d8e7; }
      .product-color .colors-select-container label:nth-child(4) {
        background-color: #96c795; }
      .product-color .colors-select-container label:nth-child(6) {
        background-color: #ce92a1; }
      .product-color .colors-select-container label:nth-child(8) {
        background-color: #aa93cf; }

.add-to-cart {
  margin: 0 0 0 22px; }
  .add-to-cart a {
    text-transform: uppercase;
    text-decoration: none;
    background-color: #8ae6cf;
    color: #2c303d;
    display: block;
    text-align: center;
    width: 280px;
    height: 57px;
    letter-spacing: 1px;
    -webkit-border-radius: 40px;
            border-radius: 40px;
    line-height: 57px;
    font-family: open_sansbold;
    font-size: 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #8ae6cf;
    cursor: pointer; }
    .add-to-cart a:hover {
      background-color: #f6f6f6;
      color: #8ae6cf; }

.other-products {
  margin: 0 0 0 55px; }
  .other-products h2 {
    font-family: open_sansbold;
    font-size: 24px;
    color: #2c303d;
    letter-spacing: 1px;
    padding: 40px 0 20px 13px; }
  .other-products li {
    max-width: 280px; }
    .other-products li:hover {
      opacity: 0.8; }
    .other-products li.hide-xs {
      display: none; }
    .other-products li .product-name {
      font-size: 16px;
      font-family: open_sansbold;
      letter-spacing: 0.8px;
      color: #282828;
      text-transform: uppercase;
      text-align: center;
      line-height: 10px;
      padding-top: 15px; }
  .other-products a {
    display: block;
    position: relative;
    text-decoration: none; }
    .other-products a .overlay {
      position: absolute;
      width: 100%;
      background-color: #8ae6cf;
      opacity: 0.7;
      bottom: 25px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      min-height: 30px; }
      .other-products a .overlay p {
        font-family: open_sansbold;
        font-size: 18px;
        letter-spacing: 1.35px; }
      .other-products a .overlay .old-price {
        color: #2c303d;
        display: none; }
        .other-products a .overlay .old-price span {
          text-decoration: line-through; }
      .other-products a .overlay .actual-price {
        color: #ce2c52; }
  .other-products .slideshow-container {
    max-width: 1000px;
    position: relative;
    display: block;
    margin: auto; }
    .other-products .slideshow-container .fade {
      -webkit-animation-name: fade;
              animation-name: fade;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }
  .other-products .slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 280px; }
  .other-products .slider-nav a {
    position: absolute;
    text-decoration: none;
    font-size: 56px;
    top: 36%;
    color: #949494; }
    .other-products .slider-nav a:hover {
      color: #8ae6cf; }
  .other-products .slider-nav .arrow-left {
    left: -51px; }
  .other-products .slider-nav .arrow-right {
    right: -51px; }

@media screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 640px; }
  .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
  .title h1 {
    padding: 0 0 0 4px;
    height: 53px; }
  .title img {
    max-width: 335px; }
  .product-description {
    padding: 0 0 0 25px;
    margin-top: 40px; }
    .product-description .product-id {
      padding: 11px 0 7px 0; }
    .product-description .price-wrapper {
      padding: 0;
      max-width: 257px; }
    .product-description .rating {
      margin: 9px 0 0 0; }
    .product-description .social-icons {
      position: absolute;
      margin: 0;
      top: 69px;
      left: 21px; }
      .product-description .social-icons .social-icon-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; }
        .product-description .social-icons .social-icon-list .social-item {
          margin-bottom: 10px; }
    .product-description .description {
      max-width: 284px;
      font-size: 12px;
      font-family: open_sanslight;
      letter-spacing: 0.2px;
      line-height: 16px;
      margin-top: 18px;
      padding-left: 3px; }
      .product-description .description p {
        display: block;
        font-size: 14px;
        font-family: open_sansbold;
        letter-spacing: 0.35px;
        color: #282828;
        padding-bottom: 10px; }
    .product-description .product-size,
    .product-description .product-color {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .product-description .product-size p,
      .product-description .product-color p {
        font-size: 14px; }
        .product-description .product-size p span,
        .product-description .product-color p span {
          display: none; }
      .product-description .product-size .size-select-container,
      .product-description .product-size .colors-select-container,
      .product-description .product-color .size-select-container,
      .product-description .product-color .colors-select-container {
        margin-top: 0; }
    .product-description .product-size {
      margin: 17px 0 11px 2px; }
      .product-description .product-size .size-select-container {
        margin-left: 36px; }
    .product-description .product-color {
      margin: 0 0 20px 2px; }
      .product-description .product-color .colors-select-container {
        margin-left: 15px; }
    .product-description .add-to-cart {
      margin: 0; }
      .product-description .add-to-cart a {
        width: 222px;
        height: 44px;
        line-height: 42px; }
  .other-products {
    margin: 57px 0 0 0; }
    .other-products h2 {
      text-align: center;
      padding: 0; }
    .other-products .slider-wrapper {
      margin: 0 auto;
      max-width: 640px; }
      .other-products .slider-wrapper .slider-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .other-products .slider-wrapper .slider-list li {
          max-width: 300px;
          margin-top: 30px; }
          .other-products .slider-wrapper .slider-list li.hide-xs {
            display: block; }
          .other-products .slider-wrapper .slider-list li .overlay {
            bottom: 29px; }
            .other-products .slider-wrapper .slider-list li .overlay p {
              font-size: 22px;
              letter-spacing: 1.65px; }
          .other-products .slider-wrapper .slider-list li .product-name {
            padding-top: 20px; }
      .other-products .slider-wrapper .slider-nav {
        display: none; } }

@media screen and (min-width: 992px) {
  .content-wrapper {
    max-width: 836px; }
  .title h1 {
    display: none; }
  .title img {
    max-width: 398px; }
  .product-description {
    padding: 0 0 0 49px;
    margin-top: 0; }
    .product-description h1 {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      font-family: oswaldbold;
      padding: 0 0 0 4px;
      letter-spacing: 0.6px;
      line-height: 33px;
      height: 42px; }
    .product-description .product-id {
      padding: 0 0 20px 0; }
    .product-description .price-wrapper {
      width: 203px; }
      .product-description .price-wrapper p {
        font-size: 24px;
        width: 98px; }
    .product-description .rating {
      margin: 20px 0 0 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .product-description .rating .share {
        margin-left: 16px;
        display: block;
        font-size: 18px;
        font-family: open_sansbold;
        line-height: 16px;
        letter-spacing: 0.45px;
        color: #2c87ce;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all 250ms ease-in-out;
        -o-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out; }
        .product-description .rating .share:hover {
          color: #ce2c52; }
      .product-description .rating .social-desktop.open {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
      .product-description .rating .social-desktop {
        position: absolute;
        right: 95px;
        top: 148px;
        background-color: #f6f6f6;
        height: 86px;
        width: 286px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.5); }
        .product-description .rating .social-desktop:before {
          content: "";
          position: absolute;
          top: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8.5px 8px 8.5px;
          border-color: transparent transparent #f6f6f6 transparent; }
        .product-description .rating .social-desktop .social-icon-list {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
        .product-description .rating .social-desktop .social-item {
          margin-right: 13px; }
          .product-description .rating .social-desktop .social-item:last-child {
            margin-right: 0; }
        .product-description .rating .social-desktop .close {
          -webkit-transition: all 250ms ease-in-out;
          -o-transition: all 250ms ease-in-out;
          transition: all 250ms ease-in-out; }
          .product-description .rating .social-desktop .close:hover {
            margin-bottom: 5px; }
        .product-description .rating .social-desktop .social-icon-link {
          width: 41px;
          height: 41px;
          display: block;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 2px solid #2c87ce;
          text-decoration: none;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-align: center;
          -webkit-transition: all 300ms ease-in-out;
          -o-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
          .product-description .rating .social-desktop .social-icon-link:hover {
            border: 2px solid #ababab; }
            .product-description .rating .social-desktop .social-icon-link:hover i {
              color: #ababab; }
          .product-description .rating .social-desktop .social-icon-link i {
            font-size: 26px;
            color: #2c87ce;
            line-height: 35px;
            -webkit-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }
          .product-description .rating .social-desktop .social-icon-link .icon-facebook {
            font-size: 19px; }
          .product-description .rating .social-desktop .social-icon-link .icon-twitter {
            font-size: 17px; }
          .product-description .rating .social-desktop .social-icon-link .icon-people {
            font-size: 25px; }
          .product-description .rating .social-desktop .social-icon-link .icon-youtube {
            font-size: 22px; }
    .product-description .description {
      max-width: 370px; }
    .product-description .product-size {
      margin: 0 0 11px 2px; }
    .product-description .product-color {
      margin: 0 0 9px 2px; }
    .product-description .social-icons {
      display: none; }
  .other-products {
    margin: 65px 0 0 0; }
    .other-products h2 {
      font-size: 22px;
      text-align: left;
      padding: 0 0 20px 0; }
    .other-products .slider-wrapper {
      max-width: 836px; }
      .other-products .slider-wrapper .slider-list .slider-item {
        max-width: 265px;
        margin: 0 0 27px 0; }
        .other-products .slider-wrapper .slider-list .slider-item .product-name {
          font-size: 14px;
          padding-top: 27px; }
        .other-products .slider-wrapper .slider-list .slider-item .overlay {
          width: auto;
          bottom: 45px;
          right: 5px;
          min-height: 22px;
          max-width: 148px; }
          .other-products .slider-wrapper .slider-list .slider-item .overlay p {
            font-size: 16px; }
          .other-products .slider-wrapper .slider-list .slider-item .overlay .old-price {
            display: block;
            padding-right: 11px;
            padding-left: 8px; }
          .other-products .slider-wrapper .slider-list .slider-item .overlay .actual-price {
            padding-right: 5px; } }
